
.main_container {
    min-height: 100vh;
    display: flex;
    
    .image_container {
        width: 70%;
        background-image: url('../../assets/background.png');
        background-size: cover;
        background-position: center;
    }
    
    .form_container {
        width: 30%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .title_and_icon_container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 30px;
            gap: 10px;

            .img {
                img {
                    height: 40px;
                }
            }

            .title {
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: 975px) {
    .main_container {
        .image_container {
            width: 50%;
        }
        
        .form_container {
            width: 50%;
        }
    }
}

@media screen and (max-width: 650px) {
    .main_container {
        .image_container {
            width: 0%;
        }
        
        .form_container {
            width: 100%;
        }
    }
}