@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    min-height: 100vh;
    background-color: whitesmoke;
    box-sizing: border-box;
}

